<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>We are students who believe in creating unique and beautiful things which are not found on the internet</p>
        <p>Let us know if you have any queries or suggestions through our email. Would love to hear about anything we could improve on.</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="/images/varun.jpeg" alt="Varun" style="width:70%;height:680px;margin: 0 15%;">
            <div class="container">
              <h2>Varun Deokar</h2>
              <p class="title">Author</p>
              <p>I love learning new things and creating things at my leisure.</p>
              <p>varundeokar10@gmail.com</p>
              <a href="https://www.linkedin.com/in/varun-deokar-4a73921b3/" class="fa fa-linkedin" target="_blank" ></a>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/images/mohit.jpg" alt="Mike" style="width:70%;margin: 0 15%;">
            <div class="container">
              <h2>Mohit Jain</h2>
              <p class="title">Author</p>
              <p>I am the person who loves to learn and try out new things. Creating and playing games is my forte.</p>
              <p>mohit270900@gmail.com</p>
              <a href="https://www.linkedin.com/in/mohitjain-27" class="fa fa-linkedin" target="_blank"></a>
            </div>
          </div>
        </div>
        
        </div>
      </div>
    
</body>
</html>