<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bulls and Bears</title>
	<link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
	<h2 style='text-align: center;margin-bottom: 50px;'>Guess the 4 Letter word</h2>
	<div style='width:60%;margin: 0 20%;'>
	<div>
	<table style='width:100%;border-collapse: collapse;'>
		<tr>
			<td style='width:30%;'><b>Word</b></td>
			<td style='width:30%;'><b>Bulls</b></td>
			<td style='width:30%;'><b>Bears</b></td>
		</tr>
	</table>
	<form>
		<input type="text" maxlength="4" minlength="4" placeholder="Guess the word" id="chat" autocomplete="off">
		<button type="submit">GUESS</button>
	</form>
	</div>
	<p></p>
	<p></p>

	</div>
	

	<script type="text/javascript" src="/css/logic.js"></script>

</body>
</html>