<%- include("../partials/header") %>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-5 col-lg-4">
      <div id="content">
        <h1>BULLS & BEARS</h1>
        <h4>The Game of 4-Letter Words</h4>
        <hr>
        <a class="btn btn-default btn-lg" href='../../Game'><strong>Start</strong></a>
      </div>
    </div>
  </div>

<%- include('../partials/footer') %>